body {
    width: 211,5vb;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.container1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4px 170px 100px 170px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 20px;
}

ul, .subtext, button {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.image-wrap {
    display: flex;
    justify-content: space-between;
}

.next-to-image {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.website {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
    margin-bottom: -15px;
}

.image {
    border: 2px solid #5d6672;
    width: 400px;
    height: 120px;
    padding: 50px;
    background-color: #5d6672;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}

button {
    background-color: #3882F6;
    width: 130px;
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;
}

.container2 {
    background-color: white;
    padding: 30px 180px 120px 180px;
    text-align: center;
}

.info {
    margin-bottom: 40px;
    font-size: 36px;
    color: #1F2937;
}


.text {
    width: 170px;
    font-size: 18px;
    color: #394555;
    display: center;
}

.text > p {
    margin: 0;
}

.cube {
    border: solid 4px #3882F6;
    border-radius: 18px;
    height: 160px;
    width: 160px;
    margin: auto;
    margin-bottom: 8px;
}
    
.cubes {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.container3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 260px;
}

q {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.sign {
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: bold;
    color: #1F2937;
    padding: 10px 40px;
}

.container4 {
    border: solid 4px #3882F6;
    background-color: #3882F6;
    border-radius: 18px;
    margin: 100px 160px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    
}

p > button {
    border: 2px solid white;
    display: flex;
    justify-content: flex-end;
}


footer {
    background-color: #1F2937;
    color: white;
}